
:root {
    --oliveCustom: #8D8741;
    --blueCustom: #659DBD;
    --tanPeachCustom: #DAAD86;
    --earthCustom: #BC986A;
    --tanCustom: #FBEEC1;
    background-color: var(--blueCustom);
    background-image: url("./BYTE.png") no-repeat;
    background-position: center;
    background-size:cover;
    overflow: hidden;
}

.content {
    text-align: center;
    color: var(--tanCustom);

    img {
        width: 80px;
        height: 90px;
    }

    #github-logo {
        border: none;
        border-bottom: 1px solid var(--tanPeachCustom);
        height: 10px;
        width: 10px;
    }
}